{% load drive_tags %}

{% if user|is_group_admin:group %}
<div class="col-12 col-md-auto d-flex align-items-center justify-content-end page-actions">

    <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Action
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMemberMenu">
            
            <li>
                <a href="#" class="dropdown-item"  data-bs-target="#createFolderModal" data-bs-toggle="modal" data-bs-backdrop="false">
                    <i class="fas fa-plus"></i> Create folder
                </a>
            </li>

            <li>
                <a href="#" class="dropdown-item"  data-bs-target="#uploadFileModal" data-bs-toggle="modal" data-bs-backdrop="false">
                    <i class="fas fa-upload"></i> Upload file
                </a>
            </li>

            <li>
                <a href="{{ group.get_members_url }}" class="dropdown-item" >
                    <i class="fas fa-users"></i> Group Members
                </a>
            </li>

        </ul>
    </div>
</div>
{% endif %}
