{% load crispy_forms_tags %}

{% if rename_file_form %}
<div class="modal fade" id="renameFileModal" role="dialog" >
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rename File</h5>
                <button type="button" class="close rounded-pill"
                    data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-lg-12">
                        <form method="POST" action="{{ file.get_rename_url }}" id="renameFileForm" class="form">
                            {% csrf_token %}
                            {{ rename_file_form|crispy }}
                        </form>
                    </div>
                </div>         
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="document.getElementById('renameFileForm').submit()">Update</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
           
        </div>
    </div>
</div>
{% endif %}