{% extends "drive/base.html" %}

{% load i18n %}

{% block content_title %}
    {% include "drive/trash/_breadcrumbs.html" %}
{% endblock %}

{% block content %}
<section class="section ">
    <div class="card ">
        <div class="card-header ">
            <h4>Restore File</h4>
        </div>
        <div class="card-body ">
            {{ file }} {% trans "will overwrite existing duplicate file" %}
        </div>
        <div class="card-footer ">
            <form action="{{ file.get_restore_file_url }}" method="POST">
                {% csrf_token %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans "Restore" %}</button>
                    <a href="{% url 'trash' %}" class="btn btn-secondary ">{% trans "Cancel" %}</a>
                </div>
            </form>
        </div>
    </div>

</section>
{% endblock %}
